# =========================
# 実験結果系（絶対上げない）
# =========================
results/
results_w_noise/
result_time_without_noise/

visualize/
visualize_noise/
visualize_time/
visualize_with_noise/

# =========================
# Python生成物
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# 実験で出がちなファイル
# =========================
*.csv
*.npy
*.npz
*.pkl
*.pt
*.pth
*.log
*.out

# 画像生成物
*.png
*.jpg
*.jpeg
*.pdf

# =========================
# Mac系
# =========================
.DS_Store

# =========================
# VSCode等
# =========================
.vscode/
